<p class="header">Emergency Goaltender Rule</p>

<div class="list">
    <ul>
        <li>Teams may carry no more than three and no less than two goaltenders at any given time.</li>
        <li>Any team opting to carry three goaltenders is eligible for the Emergency Goaltender Rule (hereafter referred to as the EGR).</li>
        <li>In the case of an EGR eligible team losing all three goaltenders to injury, said team will receive the worst available goaltender from the waiver pool on loan until at least one of said teams roster goaltenders become available.</li>
        <li>Should another EGR eligible team require this service while the worst waiver pool goaltender is already in use, the next worst goaltender will be loaned and so on and so forth.</li>
        <li>Any team opting to carry only two goaltenders is not eligible for the EGR.</li>
        <li>In the case of a non-EGR eligible team losing both its goaltenders to injury, said team will have a concurrently scratched roster player play goal. </li>
        <li>During the playoffs, any goaltender qualifies as a backup regardless of NHL games played. Should a team's starting goaltender get injured, any roster goaltender then becomes available to start until the starter returns.</li>
        <li>The EGR applies in the playoffs as well.</li>
    </ul>
</div>
