<div class="playoff-matchup-card">

    <app-playoff-team-avatar [team]="visTeam"></app-playoff-team-avatar>

    <div *ngIf="(visTeam && homeTeam) && !(winningTeam && losingTeam)">
        {{visTeam.shortname}} @ {{homeTeam.shortname}}
    </div>

    <div *ngIf="winningTeam && losingTeam && !seriesTied && !seriesDone">
        {{winningTeam.shortname}} leads {{seriesScore}}
    </div>

    <div *ngIf="seriesDone">
        {{winningTeam.shortname}} wins {{seriesScore}}
    </div>

    <div *ngIf="!visTeam && !homeTeam && !winningTeam && !losingTeam">
        vs.
    </div>

    <div *ngIf="seriesTied">
        Tied {{seriesScore}}
    </div>

    <app-playoff-team-avatar [team]="homeTeam"></app-playoff-team-avatar>

</div>