<div class="mainContainer">
    <div class="header">
        <p>CHA Winnings Allotment</p>
    </div>
    <div class="body">
        <div class="list">
            <ul>
                <li>Liberty Cup Champion - $250</li>
                <li>Liberty Cup Runner Up - $100</li>
                <li>Conference Finalist - $50/Each</li>
                <li>Regular Season Winner - $50</li>
                <li>Division Champion - $50/Each</li>
                <li>CHA Leading Scorer - $50</li>
                <li>CHA Top Defenseman - $50</li>
                <li>CHA Top Goalie - $50</li>
                <li>CHA Top Rookie - $50 </li>
                <li>CHA Top G.M. - $50</li>
                <li>Website Maintenance - tbd</li>
                <li>League Administration - tbd</li>
            </ul>
        </div>
    </div>
</div>
    
