<div class="spinner" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
</div>

<div class="main-container" *ngIf="!isLoading">

    <div class="team-header">
        <img [src]="team.image">
        <p>{{team.name}}</p>
    </div>

    <div class="salary-container" [style.background-color]='team.color'>

        <div class="salary-section">

            <div class="salary-header">
                <p>Forwards</p>
            </div>

            <div class="salary-table-container">
                <div class="table">
        
                    <table mat-table [dataSource]="forwardSalaries" #forwardSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="year_two" matSortDirection="desc">
            
                        <ng-container matColumnDef="player_name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let player"> {{player.player_name}} </td>
                            <td mat-footer-cell *matFooterCellDef class="black">Totals: {{totalForwards}}</td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> P </th>
                            <td mat-cell *matCellDef="let player"> {{player.position}} </td>
                            <td mat-footer-cell *matFooterCellDef class="black"></td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_two">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2019-20 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_two }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalForwardsCurrentSalary}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_three">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2020-21 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_three }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalForwardsYearTwoSalary}}</td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay"></tr>
                        <tr 
                            mat-row 
                            *matRowDef="let player; columns: isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"
                            (click)="openPlayer(player, 'player')"
                        ></tr>
                        <tr mat-footer-row *matFooterRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"></tr>
            
                    </table>
            
                </div>
            </div>

        </div>

        <div class="salary-section">

            <div class="salary-header">
                <p>Defence</p>
            </div>

            <div class="salary-table-container">
                <div class="table">
        
                    <table mat-table [dataSource]="defenceSalaries" #defenceSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="year_two" matSortDirection="desc">
            
                        <ng-container matColumnDef="player_name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let player"> {{player.player_name}} </td>
                            <td mat-footer-cell *matFooterCellDef class="black">Totals: {{totalDefense}}</td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> P </th>
                            <td mat-cell *matCellDef="let player"> {{player.position}} </td>
                            <td mat-footer-cell *matFooterCellDef class="black"></td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_two">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2019-20 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_two }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalDefenseCurrentSalary}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_three">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2020-21 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_three }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalDefenseYearTwoSalary}}</td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay"></tr>
                        <tr 
                            mat-row 
                            *matRowDef="let player; columns: isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"
                            (click)="openPlayer(player, 'player')"
                        ></tr>
                        <tr mat-footer-row *matFooterRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"></tr>
            
                    </table>
            
                </div>
            </div>

        </div>

        <div class="salary-section">

            <div class="salary-header">
                <p>Goalies</p>
            </div>

            <div class="salary-table-container">
                <div class="table">
        
                    <table mat-table [dataSource]="goalieSalaries" #goalieSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="year_two" matSortDirection="desc">
            
                        <ng-container matColumnDef="player_name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let player"> {{player.player_name}} </td>
                            <td mat-footer-cell *matFooterCellDef class="black">Totals: {{totalGoalie}}</td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> P </th>
                            <td mat-cell *matCellDef="let player"> G </td>
                            <td mat-footer-cell *matFooterCellDef class="black"></td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_two">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2019-20 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_two }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalGoalieCurrentSalary}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="year_three">
                            <th mat-header-cell *matHeaderCellDef class="center"> 2020-21 </th>
                            <td mat-cell *matCellDef="let player" class="center">{{ player.year_three }} </td>
                            <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalGoalieYearTwoSalary}}</td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay"></tr>
                        <tr 
                            mat-row 
                            *matRowDef="let player; columns: isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"
                            (click)="openPlayer(player, 'goalie')"
                        ></tr>
                        <tr mat-footer-row *matFooterRowDef="isMobile ? mobileSalariesColumnsToDisplay: salariesColumnsToDisplay;"></tr>
            
                    </table>
            
                </div>
            </div>

            <div class="salary-header-summary">
                <p>Team Summary</p>
            </div>

            <div class="team-summary">
                <div class="team-summary-players">
                    <p>Total Players = 
                        <span class="red-text" *ngIf="(totalPlayers < 24) || (totalPlayers > 30)">{{totalPlayers}}</span>
                        <span class="green-text"*ngIf="(totalPlayers >= 24) && (totalPlayers <= 30)">{{totalPlayers}}</span>
                    </p>
                </div>
                <div class="team-summary-cap-container">
                    <div class="team-summary-cap">
                        <p><span class="med-text-height"><u>CHA {{currentSeason}}</u></span></p>
                        <p>CHA Cap Limit = {{currentSeasonCap}}</p>
                        <p>Team Payroll = {{ currentSeasonPayroll.toFixed(3) }}</p>
                        <p>Team Cap Space =
                            <span class="red-text" *ngIf="(currentSeasonSpace > 0)">{{ currentSeasonSpace.toFixed(3) }}</span>
                            <span class="green-text"*ngIf="(currentSeasonSpace < 0)">{{ currentSeasonSpace.toFixed(3) }}</span>
                        </p>
                    </div>
                    <div class="team-summary-cap">
                        <p><span class="med-text-height"><u>CHA {{nextSeason}}</u></span></p>
                        <p>CHA Cap Limit = {{nextSeasonCap}}</p>
                        <p>Team Payroll = {{ nextSeasonPayroll.toFixed(3) }}</p>
                        <p>Team Cap Space = 
                            <span class="red-text" *ngIf="(nextSeasonSpace > 0)">{{ nextSeasonSpace.toFixed(3) }}</span>
                            <span class="green-text"*ngIf="(nextSeasonSpace < 0)">{{ nextSeasonSpace.toFixed(3) }}</span>
                        </p>
                    </div>
                </div>
                
            </div>

        </div>

    </div>

</div>
