<div class="leagueContainer">

    <div class="conference">

        <div class="conferenceHeader">
            <p>Western Conference</p>
            <hr class="line-style">
        </div>

        <div class="division">
            <div class="headerText">
                <p>North West Division</p>
            </div>
            <div class="team-card" *ngFor="let northwestTeam of northwestTeams" (click)="sendToTeam(northwestTeam.shortName)">
                <img src="{{northwestTeam.image}}" class="logo">
                <p>{{northwestTeam.name}}</p>
            </div>
        </div>

        <div class="division">
            <div class="headerText">
                <p>South West Division</p>
            </div>
            <div class="team-card" *ngFor="let southwestTeam of southwestTeams" (click)="sendToTeam(southwestTeam.shortName)">
                <img src="{{southwestTeam.image}}" class="logo">
                <p>{{southwestTeam.name}}</p>
            </div>
        </div>

    </div>

    <div class="conference">

        <div class="conferenceHeader">
            <p>Eastern Conference</p>
            <hr class="line-style">
        </div>

        <div class="division">
            <div class="headerText">
                <p>North East Division</p>
            </div>
            <div class="team-card" *ngFor="let northeastTeam of northeastTeams" (click)="sendToTeam(northeastTeam.shortName)">
                <img src="{{northeastTeam.image}}" class="logo" >
                <p>{{northeastTeam.name}}</p>
            </div>
        </div>

        <div class="division">
            <div class="headerText">
                <p>South East Division</p>
            </div>
            <div class="team-card" *ngFor="let southeastTeam of southeastTeams" (click)="sendToTeam(southeastTeam.shortName)">
                <img src="{{southeastTeam.image}}" class="logo" >
                <p>{{southeastTeam.name}}</p>
            </div>
        </div>
        
    </div>

</div>

