:host {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, auto));
}

h3 {
    color: white;
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
    margin: 0.5em;
}

h4 {
    color: white;
    font-size: x-large;
    font-weight: 100;
    text-align: center;
    margin: 0.5em;
}

.division-container {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    display: inline-grid;
    padding: 20px;
    justify-items: center;
    grid-template-columns: minmax(275px, auto);
}

.container p {
    color: white;
    font-size: medium;
    text-align: center;
    font-weight: 200;
    margin: 3px 0;
}

.teams-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 125px);
    justify-content: space-evenly;
    grid-column-gap: auto;
}

.team {
    display: grid;
    justify-items: center;
    align-content: space-between;
    height: 150px;
    cursor: pointer;
}

.team img {
    width: 75%;
    height: auto;
}