<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="container" *ngIf="!isLoading && !errored">

    <div class="details">
        <p class="link" (click)="displayFullStats('players')">See Skater Details ></p>
    </div>

    <mat-accordion multi="false" >

        <mat-expansion-panel expanded="{{isMobile ? 'false' : 'true'}}">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Point Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="points" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let player"> {{ player.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Points </th>
                        <td mat-cell *matCellDef="let player"> {{ player.points }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let player"> 
                            <img [src]="player.cha_logo.teamlogo" *ngIf="player.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="pointsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let player; columns: pointsColumnsToDisplay;" 
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Goal Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="goals" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let player"> {{ player.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="goals">
                        <th mat-header-cell *matHeaderCellDef> Goals </th>
                        <td mat-cell *matCellDef="let player"> {{ player.goals }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let player"> 
                            <img [src]="player.cha_logo.teamlogo" *ngIf="player.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="goalsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let player; columns: goalsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Assists Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="assists" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let player"> {{ player.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="assists">
                        <th mat-header-cell *matHeaderCellDef> Assists </th>
                        <td mat-cell *matCellDef="let player"> {{ player.assists }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let player"> 
                            <img [src]="player.cha_logo.teamlogo" *ngIf="player.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="assistsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let player; columns: assistsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

    </mat-accordion>

    <div class="details">
        <p class="link" (click)="displayFullStats('goalies')">See Goalie Details ></p>
    </div>

    <mat-accordion multi="false" >

        <!-- <mat-expansion-panel expanded="{{isMobile ? 'false' : 'true'}}">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Wins Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="wins" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.playerName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef> Wins </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.wins }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let goalie"> 
                            <img src="{{ findLogo(goalie.chaTeam).image }}"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="winsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let goalie; columns: winsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel> -->

        <mat-expansion-panel  expanded="{{isMobile ? 'false' : 'true'}}">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL GAA Leaders (min 4 gp)</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="gaa" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="goalsAgainstAverage">
                        <th mat-header-cell *matHeaderCellDef> GAA </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.gaa.toFixed(2) }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let goalie"> 
                            <img [src]="goalie.cha_logo.teamlogo" *ngIf="goalie.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="gaaColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let goalie; columns: gaaColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Save% Leaders (min 4 gp)</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="savePctg" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="savePctg">
                        <th mat-header-cell *matHeaderCellDef> Save% </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.savePctg.toFixed(3) }}% </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let goalie"> 
                            <img [src]="goalie.cha_logo.teamlogo" *ngIf="goalie.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="savePctgColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let goalie; columns: savePctgColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL SO Leaders (min 4 gp)</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="shutouts" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="shutouts">
                        <th mat-header-cell *matHeaderCellDef> Shutouts </th>
                        <td mat-cell *matCellDef="let goalie"> {{ goalie.shutouts }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>CHA Team</th>
                        <td mat-cell *matCellDef="let goalie"> 
                            <img [src]="goalie.cha_logo.teamlogo" *ngIf="goalie.cha_logo"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="shutoutsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let goalie; columns: shutoutsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

    </mat-accordion>

    <div class="details">
        <p class="link" (click)="displayFullStats('rookies')">See Rookie Details ></p>
    </div>

    <mat-accordion multi="false" >

        <mat-expansion-panel expanded="{{isMobile ? 'false' : 'true'}}">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Rookie Point Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="rookiePoints" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Points </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.points }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>NHL Team</th>
                        <td mat-cell *matCellDef="let rookie"> 
                            <img src="{{ findNHLLogo(rookie) }}"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="rookiePointsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let rookie; columns: rookiePointsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Rookie Goals Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="rookieGoals" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="goals">
                        <th mat-header-cell *matHeaderCellDef> Goals </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.goals }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>NHL Team</th>
                        <td mat-cell *matCellDef="let rookie"> 
                            <img src="{{ findNHLLogo(rookie) }}"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="rookieGoalsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let rookie; columns: rookieGoalsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            
            <mat-expansion-panel-header>
                <mat-panel-title>NHL Rookie Assists Leaders</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table">

                <table mat-table [dataSource]="rookieAssists" class="full-width">

                    <ng-container matColumnDef="playerName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.player.fullName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="assists">
                        <th mat-header-cell *matHeaderCellDef> Assists </th>
                        <td mat-cell *matCellDef="let rookie"> {{ rookie.assists }} </td>
                    </ng-container>

                    <ng-container matColumnDef="team_logo">
                        <th mat-header-cell *matHeaderCellDef>NHL Team</th>
                        <td mat-cell *matCellDef="let rookie"> 
                            <img src="{{ findNHLLogo(rookie) }}"> 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="rookieAssistsColumnsToDisplay"></tr>
                    <tr 
                        mat-row 
                        *matRowDef="let rookie; columns: rookieAssistsColumnsToDisplay;"
                    ></tr>

                </table>

            </div>
        
        </mat-expansion-panel>

    </mat-accordion>

</div>

<div class="container" *ngIf="!isLoading && errored">
    <p class="error-text">Problem connecting to NHL network</p>
</div>
