<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>
        
<p class="tableHeader">Waiver Wire Priority</p>

<div class="table">

    <table mat-table [dataSource]="waiver" matSort class="mat-elevation-z8" matSortActive="priority_number" matSortDirection="asc">

        <ng-container matColumnDef="pick">
            <th mat-header-cell *matHeaderCellDef> Priority No. </th>
            <td mat-cell *matCellDef="let team; let i = index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="team_logo" sticky>
            <th mat-header-cell *matHeaderCellDef> Logo </th>
            <td mat-cell *matCellDef="let team"> 
                <img src="{{ team.teamlogo}}"> 
            </td>
        </ng-container>

        <ng-container matColumnDef="team_name">
            <th mat-header-cell *matHeaderCellDef> Team </th>
            <td mat-cell *matCellDef="let team"> 
                {{ team.city }} {{ team.nickname }} 
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns;"></tr>
        <tr mat-row *matRowDef="let team; columns: columns;"></tr>

    </table>

</div>