<mat-button-toggle-group #bySeason="matButtonToggleGroup" [value]="seasonType" (change)="changeSeason(bySeason.value)">
    <mat-button-toggle value="Regular" color="accent">
        Regular
    </mat-button-toggle>
    <mat-button-toggle value="Playoffs" color="accent">
        Playoffs
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="table" *ngIf="!isloading">

    <app-team-stats-table
        [teams]="teams"
        [statsColumnsToDisplay]="isMobile ? mobileColumns : columns"
    ></app-team-stats-table>

</div>
