:host {
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
    color: white;
    font-size: small;
    font-weight: 200;
    padding: 10px;
}

.chart-container {
    height: 300px;
}

.stats {
    color: red;
    font-style: italic;
}