<div class="championsContainer cha-dark">
    
    <div class="fullContainer">

        <div class="header">
            <p>Past Champions</p>
        </div>

        <mat-accordion multi="true" >

            <mat-expansion-panel expanded="false" *ngFor="let champ of champions" (opened)="onOpenPanel(champ.year_won, champ.team_short)" id="{{champ.year_won}}">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{champ.year_won}}</mat-panel-title>
                    <mat-panel-description>
                        <span *ngIf="!isMobile">{{champ.team_name}}</span><span *ngIf="isMobile">{{champ.team_short}}</span>
                        <span><img src="{{findLogo(champ.team_short).image}}" class="logo"></span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="owner">
                    <p *ngIf="isMobile">Team Name: {{champ.team_name}}</p>
                    <p>Owner: {{champ.owner_name}}</p>
                </div>
                
                <div class="team-stats">
                    <p>Season Team Stats</p>

                    <div class="table" *ngIf="champ.team_stats && !isStatsLoading">
                        
                        <table mat-table [dataSource]="teams" #overallSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="playing_year" matSortDirection="desc">
                
                            <ng-container matColumnDef="playing_year" sticky>
                                <th mat-header-cell *matHeaderCellDef> Year </th>
                                <td mat-cell *matCellDef="let team"> {{ team.playing_year }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="season_type">
                                <th mat-header-cell *matHeaderCellDef> Season </th>
                                <td mat-cell *matCellDef="let team"> {{ team.season_type }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="team_logo">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let team"> 
                                    <img src="{{ findLogo(team.team_name).image }}"> 
                                </td>
                            </ng-container>
                
                            <ng-container matColumnDef="team_name">
                                <th mat-header-cell *matHeaderCellDef> Team </th>
                                <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="games_played">
                                <th mat-header-cell *matHeaderCellDef> GP </th>
                                <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="wins">
                                <th mat-header-cell *matHeaderCellDef> W </th>
                                <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="loss">
                                <th mat-header-cell *matHeaderCellDef> L </th>
                                <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="ties">
                                <th mat-header-cell *matHeaderCellDef> T </th>
                                <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef> Pts </th>
                                <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_for">
                                <th mat-header-cell *matHeaderCellDef> GF </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_for_game">
                                <th mat-header-cell *matHeaderCellDef> GF/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.goals_for / team.games_played).toFixed(2) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_against">
                                <th mat-header-cell *matHeaderCellDef> GA </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_against_game">
                                <th mat-header-cell *matHeaderCellDef> GA/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.goals_against / team.games_played).toFixed(2) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_diff">
                                <th mat-header-cell *matHeaderCellDef> Goal Diff </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_for - team.goals_against}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="win_pct">
                                <th mat-header-cell *matHeaderCellDef> Win% </th>
                                <td mat-cell *matCellDef="let team"> {{((team.wins / team.games_played) * 100).toFixed(1)}}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="pp_pct">
                                <th mat-header-cell *matHeaderCellDef> PP% </th>
                                <td mat-cell *matCellDef="let team"> {{ ((team.pp_goals / team.pp_attempts) * 100).toFixed(1) }}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="pk_pct">
                                <th mat-header-cell *matHeaderCellDef> PK% </th>
                                <td mat-cell *matCellDef="let team"> {{ (((team.pk_attempts - team.pk_goals) / team.pk_attempts) * 100).toFixed(1)}}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="sh_goals">
                                <th mat-header-cell *matHeaderCellDef> SHG </th>
                                <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="penalty_minutes_game">
                                <th mat-header-cell *matHeaderCellDef> PIM/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.penalty_minutes / team.games_played).toFixed(1)}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="shot_diff">
                                <th mat-header-cell *matHeaderCellDef> Shot Diff </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.shots_for - team.shots_against) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="div_record">
                                <th mat-header-cell *matHeaderCellDef> Div </th>
                                <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="home_record">
                                <th mat-header-cell *matHeaderCellDef> Home </th>
                                <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="away_record">
                                <th mat-header-cell *matHeaderCellDef> Away </th>
                                <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="trail_record">
                                <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                                <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;"></tr>
                
                        </table>
                
                    </div>

                    <div class="team-stats" *ngIf="!champ.team_stats && !isStatsLoading">
                        <p><i>No Team Stats For This Season</i></p>
                    </div>

                    <div class="spinner" *ngIf="isStatsLoading">
                        <mat-spinner color="accent"></mat-spinner>
                    </div>

                    <div class="champ-button">
                        <button mat-raised-button (click)="toSeasonPlayers(champ)" color="accent">Season Roster</button>
                    </div>

                </div>

                <div class="team-stats">
                    <p>Playoff Team Stats</p>

                    <div class="table"  *ngIf="champ.team_stats_playoffs && !isStatsPlayoffsLoading">
                        
                        <table mat-table [dataSource]="teamsPlayoff" #overallSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="playing_year" matSortDirection="desc">
                
                            <ng-container matColumnDef="playing_year" sticky>
                                <th mat-header-cell *matHeaderCellDef> Year </th>
                                <td mat-cell *matCellDef="let team"> {{ team.playing_year }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="season_type">
                                <th mat-header-cell *matHeaderCellDef> Season </th>
                                <td mat-cell *matCellDef="let team"> {{ team.season_type }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="team_logo">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let team"> 
                                    <img src="{{ findLogo(team.team_name).image }}"> 
                                </td>
                            </ng-container>
                
                            <ng-container matColumnDef="team_name">
                                <th mat-header-cell *matHeaderCellDef> Team </th>
                                <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="games_played">
                                <th mat-header-cell *matHeaderCellDef> GP </th>
                                <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="wins">
                                <th mat-header-cell *matHeaderCellDef> W </th>
                                <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="loss">
                                <th mat-header-cell *matHeaderCellDef> L </th>
                                <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="ties">
                                <th mat-header-cell *matHeaderCellDef> T </th>
                                <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef> Pts </th>
                                <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_for">
                                <th mat-header-cell *matHeaderCellDef> GF </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_for_game">
                                <th mat-header-cell *matHeaderCellDef> GF/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.goals_for / team.games_played).toFixed(2) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_against">
                                <th mat-header-cell *matHeaderCellDef> GA </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_against_game">
                                <th mat-header-cell *matHeaderCellDef> GA/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.goals_against / team.games_played).toFixed(2) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="goals_diff">
                                <th mat-header-cell *matHeaderCellDef> Goal Diff </th>
                                <td mat-cell *matCellDef="let team"> {{team.goals_for - team.goals_against}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="win_pct">
                                <th mat-header-cell *matHeaderCellDef> Win% </th>
                                <td mat-cell *matCellDef="let team"> {{((team.wins / team.games_played) * 100).toFixed(1)}}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="pp_pct">
                                <th mat-header-cell *matHeaderCellDef> PP% </th>
                                <td mat-cell *matCellDef="let team"> {{ ((team.pp_goals / team.pp_attempts) * 100).toFixed(1) }}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="pk_pct">
                                <th mat-header-cell *matHeaderCellDef> PK% </th>
                                <td mat-cell *matCellDef="let team"> {{ (((team.pk_attempts - team.pk_goals) / team.pk_attempts) * 100).toFixed(1)}}%</td>
                            </ng-container>
                
                            <ng-container matColumnDef="sh_goals">
                                <th mat-header-cell *matHeaderCellDef> SHG </th>
                                <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="penalty_minutes_game">
                                <th mat-header-cell *matHeaderCellDef> PIM/g </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.penalty_minutes / team.games_played).toFixed(1)}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="shot_diff">
                                <th mat-header-cell *matHeaderCellDef> Shot Diff </th>
                                <td mat-cell *matCellDef="let team"> {{ (team.shots_for - team.shots_against) }} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="div_record">
                                <th mat-header-cell *matHeaderCellDef> Div </th>
                                <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="home_record">
                                <th mat-header-cell *matHeaderCellDef> Home </th>
                                <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="away_record">
                                <th mat-header-cell *matHeaderCellDef> Away </th>
                                <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="trail_record">
                                <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                                <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;"></tr>
                
                        </table>
                
                    </div>

                    <div class="team-stats" *ngIf="!champ.team_stats_playoffs && !isStatsPlayoffsLoading">
                        <p><i>No Team Stats For This Season</i></p>
                    </div>

                    <div class="spinner" *ngIf="isStatsPlayoffsLoading">
                        <mat-spinner color="accent"></mat-spinner>
                    </div>

                    <div class="champ-button">
                        <button mat-raised-button (click)="toPlayoffPlayers(champ)" color="accent">Playoff Roster</button>
                    </div>

                </div>

            </mat-expansion-panel>

        </mat-accordion>

        <!-- <div class="header">
            <p>Past Champions</p>
        </div> -->

        <!-- <div class="table">

            <table mat-table [dataSource]="champs" class="mat-elevation-z8 full-width">
    
                <ng-container matColumnDef="year_won">
                    <th mat-header-cell *matHeaderCellDef> Year </th>
                    <td mat-cell *matCellDef="let champ"> {{champ.year_won}} </td>
                </ng-container>

                <ng-container matColumnDef="team_logo">
                    <th mat-header-cell *matHeaderCellDef><span *ngIf="isMobile">Team</span></th>
                    <td mat-cell *matCellDef="let champ"> 
                        <img src="{{ findLogo(champ.team_short).image }}"> 
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="team_name">
                    <th mat-header-cell *matHeaderCellDef> Team </th>
                    <td mat-cell *matCellDef="let champ"> {{champ.team_name}} </td>
                </ng-container>
    
                <ng-container matColumnDef="owner_name">
                    <th mat-header-cell *matHeaderCellDef> Owner </th>
                    <td mat-cell *matCellDef="let champ"> {{champ.owner_name}} </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="isMobile ? mobileChampsColumns : champsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: isMobile ? mobileChampsColumns : champsColumns;"></tr>
    
            </table>
        </div> -->

    </div>
</div>
