<div 
    *ngIf="!showPlayersStats && !showGoalieStats && !showRookieStats"
    class="container"
>
    <app-nhl-leaders></app-nhl-leaders>

    <app-twitter></app-twitter>

</div>

<div *ngIf="showPlayersStats">
    <p (click)="showLeaders();" class="link">< Leaders</p>
    <app-nhl-players-stats></app-nhl-players-stats>
</div>

<div *ngIf="showGoalieStats">
    <p (click)="showLeaders();" class="link">< Leaders</p>
    <app-nhl-goalie-stats></app-nhl-goalie-stats>
</div>

<div *ngIf="showRookieStats">
    <p (click)="showLeaders();" class="link">< Leaders</p>
    <app-nhl-rookie-stats></app-nhl-rookie-stats>
</div>