:host {
    display: grid;
    /* grid-template-columns: minmax(350, auto); */
    padding: 20px;
    overflow-x: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.link {
    margin: 2px;
    color: white;
    font-size: small;
    cursor: pointer;
}