:host {
    display: grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: minmax(350px, 1fr);
}

.button-container {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-column-gap: 20px;
}

.container {
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

.title {
    color: white;
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
    color: red;
}

.mat-button-toggle-group {
    margin: 10px 0;
}

.mat-button-toggle-checked {
    background-color: red;
}