<table mat-table [dataSource]="leaders" class="mat-elevation-z8">

    <ng-container matColumnDef="team_logo">
        <th mat-header-cell *matHeaderCellDef><span *ngIf="isMobile">Team</span></th>
        <td mat-cell *matCellDef="let team"> 
            <img src="{{ team.teamlogo }}"> 
        </td>
    </ng-container>

    <ng-container matColumnDef="team_name">
        <th mat-header-cell *matHeaderCellDef> Team </th>
        <td mat-cell *matCellDef="let team">
             {{team.city}} {{team.nickname}}
        </td>
    </ng-container>

    <ng-container matColumnDef="games_played">
        <th mat-header-cell *matHeaderCellDef> GP </th>
        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
    </ng-container>

    <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef> W </th>
        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
    </ng-container>
    
    <ng-container matColumnDef="loss">
        <th mat-header-cell *matHeaderCellDef> L </th>
        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ties">
        <th mat-header-cell *matHeaderCellDef> T </th>
        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
    </ng-container>
    
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Pts </th>
        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
    </ng-container>

    <ng-container matColumnDef="win_pct">
        <th mat-header-cell *matHeaderCellDef> Win% </th>
        <td mat-cell *matCellDef="let team"> {{((team.wins / team.games_played) * 100).toFixed(1)}}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isMobile ? mobileColumns: columns"></tr>
    <tr 
        mat-row 
        *matRowDef="let team; columns: isMobile ? mobileColumns: columns;" 
        
    ></tr>
    <!-- (click)="openTeam(team.team_name)" -->

</table>
