<div class="card-container">

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="goalLeader">
            <p>Player Name: <span class="stats">{{goalLeader.player_name}} </span></p>
            <p>Goals: <span class="stats">{{goalLeader.goals}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerGoalChart"></canvas>
        </div> 
    </div>

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="goalPpLeader">
            <p>Player Name: <span class="stats">{{goalPpLeader.player_name}} </span></p>
            <p>PP Goals: <span class="stats">{{goalPpLeader.pp_goals}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerPpGoalChart"></canvas>
        </div> 
    </div>

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="assistLeader">
            <p>Player Name: <span class="stats">{{assistLeader.player_name}} </span></p>
            <p>Assists: <span class="stats">{{assistLeader.assists}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerAssistChart"></canvas>
        </div> 
    </div>

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="pointsLeader">
            <p>Player Name: <span class="stats">{{pointsLeader.player_name}} </span></p>
            <p>Points: <span class="stats">{{pointsLeader.points}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerPointsChart"></canvas>
        </div> 
    </div>

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="shGoalsLeader">
            <p>Player Name: <span class="stats">{{shGoalsLeader.player_name}} </span></p>
            <p>SH Goals: <span class="stats">{{shGoalsLeader.sh_goals}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerShGoalChart"></canvas>
        </div> 
    </div>

    <div class="stat-card">
        <div class="stat-card-rank" *ngIf="plusMinusLeader">
            <p>Player Name: <span class="stats">{{plusMinusLeader.player_name}} </span></p>
            <p>Plus/Minus: <span class="stats">{{plusMinusLeader.plus_minus}}</span></p>
        </div> 
        <div class="chart-container">
            <canvas id="playerPlusMinusChart"></canvas>
        </div> 
    </div>

</div>
