<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-goals 
        [playerStats]="playerStats"
    ></app-team-player-goals>
    
</div>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-pp-goals 
        [playerStats]="playerStats"
    ></app-team-player-pp-goals>
    
</div>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-assists 
        [playerStats]="playerStats"
    ></app-team-player-assists>
    
</div>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-points
        [playerStats]="playerStats"
    ></app-team-player-points>
    
</div>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-sh-goals
        [playerStats]="playerStats"
    ></app-team-player-sh-goals>
    
</div>

<div class="stat-card" *ngIf="!isLoading">

    <app-team-player-plus-minus
        [playerStats]="playerStats"
    ></app-team-player-plus-minus>
    
</div>

