<div class="container cha-dark">

    <div class="conference-container">
        <div class="round">
            <div class="round-header">
                <p>Quarter Finals</p>
            </div>

            <div class="matchup-container">

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Vipers.png">
                                <mat-card-content>
                                    <p class="seed">Seed 1</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/OilBarons.png">
                                <mat-card-content>
                                    <p class="seed">Seed 8</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">0</p>
                        </div>
                    </div>
                </div>
    
                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Storm.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Cocks.png">
                                <mat-card-content>
                                    <p class="seed">Seed 5</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">1</p>
                        </div>
                    </div>
                </div>
    
                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Desperado.png">
                                <mat-card-content>
                                    <p class="seed">Seed 3</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
    
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Mountaineers.png">
                                <mat-card-content>
                                    <p class="seed">Seed 6</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">1</p>
                        </div>
                    </div>
                </div>
    
                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Assassins.png">
                                <mat-card-content>
                                    <p class="seed">Seed 2</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">2</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Wolfpack.png">
                                <mat-card-content>
                                    <p class="seed">Seed 7</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="round">
            <div class="round-header">
                <p>Semi Finals</p>
            </div>

            <div class="matchup-container">

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Vipers.png">
                                <mat-card-content>
                                    <p class="seed">Seed 1</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">3</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Wolfpack.png">
                                <mat-card-content>
                                    <p class="seed">Seed 7</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                    </div>
                </div>
    
                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Desperado.png">
                                <mat-card-content>
                                    <p class="seed">Seed 3</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">0</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Storm.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="round">

            <div class="round-header">
                <p>Conference Finals</p>
            </div>

            <div class="matchup-container">
                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Storm.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">2</p>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Wolfpack.png">
                                <mat-card-content>
                                    <p class="seed">Seed 7</p>
                                </mat-card-content>
                            </mat-card>
                            <p class="west-wins">4</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="champion-container">

        <p class="champion-header">2019 CHA Playoffs</p>

        <div class="champion">
            <img mat-card-image src="../../../assets/team_logos/KillerBees.png">
            <p class="champion-name">Staten Island Killer Bees</p>
        </div>

        <div class="champion-matchup">

            <div class="champion-matchup-card">
                <p class="championship-header">Championship</p>
                <div class="champion-team-card">
                    <mat-card class="team">
                        <img mat-card-image src="../../../assets/team_logos/Wolfpack.png">
                        <mat-card-content>
                            <p class="seed">Seed 7</p>
                            <p class="wins">2</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <p class="champion-versus">Vs.</p>
                <div class="champion-team-card">
                    <mat-card class="team">
                        <img mat-card-image src="../../../assets/team_logos/KillerBees.png">
                        <mat-card-content>
                            <p class="seed">Seed 4</p>
                            <p class="wins">4</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </div>

    </div>

    <div class="conference-container">
        <div class="round">
            <div class="round-header">
                <p>Conference Finals</p>
            </div>
            <div class="matchup-container">

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">2</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Cyclones.png">
                                <mat-card-content>
                                    <p class="seed">Seed 3</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/KillerBees.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="round">
            <div class="round-header">
                <p>Semi Finals</p>
            </div>
            <div class="matchup-container">

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">3</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Dragons.png">
                                <mat-card-content>
                                    <p class="seed">Seed 1</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/KillerBees.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">1</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Goats.png">
                                <mat-card-content>
                                    <p class="seed">Seed 2</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Cyclones.png">
                                <mat-card-content>
                                    <p class="seed">Seed 3</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="round">
            <div class="round-header">
                <p>Quarter Finals</p>
            </div>
            <div class="matchup-container">

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Dragons.png">
                                <mat-card-content>
                                    <p class="seed">Seed 1</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">1</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Glory.png">
                                <mat-card-content>
                                    <p class="seed">Seed 8</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/KillerBees.png">
                                <mat-card-content>
                                    <p class="seed">Seed 4</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">2</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/voodoo.png">
                                <mat-card-content>
                                    <p class="seed">Seed 5</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Cyclones.png">
                                <mat-card-content>
                                    <p class="seed">Seed 3</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">1</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Prowlers.png">
                                <mat-card-content>
                                    <p class="seed">Seed 6</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div class="matchup">
                    <div class="matchup-card">
                        <div class="team-card">
                            <p class="east-wins">4</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/Goats.png">
                                <mat-card-content>
                                    <p class="seed">Seed 2</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <p class="versus">Vs.</p>
                        <div class="team-card">
                            <p class="east-wins">0</p>
                            <mat-card class="team">
                                <img mat-card-image src="../../../assets/team_logos/GreenJackets.png">
                                <mat-card-content>
                                    <p class="seed">Seed 7</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
