.frame {
    height: 770px;
    width: 631px;
    /* overflow-x: hidden; */
    display: flex;
    justify-items: center;
    align-items: flex-start;
}

.mobile-frame {
    height: 770px;
    width: 90%;
    overflow: auto;
    display: flex;
    justify-items: center;
    align-items: flex-start;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 30px; */
}

.iframe {
    border: none;
    overflow-x:hidden;
    overflow-y:hidden;
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
}

.playerStatsTable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.tableHeader {
    color: white;
    font-size: x-large;
    font-weight: 100;
    text-align: center;
    width: 100%;
}

.table {
    width: 95%;
    overflow-x: auto;
    margin-bottom: 50px;
}

.full-width {
    width: 100%;
}

.spinner {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table img {
    height: 30px;
    width: 30px;
}

.mat-header-cell {
    text-align: center;
}

.mat-cell, .mat-header-cell {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
}

.tableHeader {
    color: white;
    font-size: x-large;
    font-weight: 100;
    text-align: center;
    width: 100%;
}