<div class="historyContainer cha-dark">

    <div class="body">
        <mat-tab-group color="accent" animationDuration="0ms">

            <mat-tab label="Champions">
                <app-champions></app-champions>
            </mat-tab>

            <mat-tab label="Awards">
                <ng-template matTabContent>
                    <app-awards></app-awards>
                </ng-template>
            </mat-tab>

            <mat-tab label="Drafts">
                <ng-template matTabContent>
                    <app-drafts></app-drafts>
                </ng-template>
            </mat-tab>
            
            <mat-tab label="Team Archives">
                <ng-template matTabContent>
                    <app-archives></app-archives>
                </ng-template>
            </mat-tab>

            <!-- <mat-tab label="Player Archives">
                <ng-template matTabContent>
                    <app-player-archives></app-player-archives>
                </ng-template>
            </mat-tab>

            <mat-tab label="Goalie Archives">
                <ng-template matTabContent>
                    <app-goalie-archives></app-goalie-archives>
                </ng-template>
            </mat-tab> -->

        </mat-tab-group>
    </div>

</div>
