<div class="historyContainer">
    <div class="container">
        <div class="header">
            <p>Champions</p>
        </div>
        <div class="image">
            <img src='../../assets/images/libertycup.jpg' routerLink="champions">
        </div>
    </div>

    <div class="container">
        <div class="header">
            <p>Drafts</p>
        </div>
        <div class="image">
            <img src='../../assets/images/Drafts.jpg' routerLink="drafts">
        </div>
    </div>

    <div class="container">
        <div class="header">
            <p>Archives</p>
        </div>
        <div class="image">
            <img src='../../assets/images/cha_logo.jpg'>
        </div>
        <div class="random">
            <p>Coming Soon!</p>
        </div>
    </div>
</div>
