<div class="table">
                        
    <table mat-table [dataSource]="stats" matSort class="mat-elevation-z8" matSortActive="playing_year" matSortDirection="desc">

        <ng-container matColumnDef="team_logo" sticky>
            <th mat-header-cell *matHeaderCellDef> Team </th>
            <td mat-cell *matCellDef="let player"> 
                <img src="{{ getLogo(player.teamlogo) }}" matTooltip="{{ player.nickname }}"> 
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="playing_year" sticky>
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let player"> {{player.playing_year}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="season_type" sticky>
            <th mat-header-cell *matHeaderCellDef> Season </th>
            <td mat-cell *matCellDef="let player"> {{player.season_type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="games_played">
            <th mat-header-cell *matHeaderCellDef> GP </th>
            <td mat-cell *matCellDef="let player"> {{player.games_played}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGamesPlayed }} </td>
        </ng-container>

        <ng-container matColumnDef="minutes_played">
            <th mat-header-cell *matHeaderCellDef> MIN </th>
            <td mat-cell *matCellDef="let player"> {{player.minutes_played}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalMin }} </td>
        </ng-container>
        
        <ng-container matColumnDef="goals">
            <th mat-header-cell *matHeaderCellDef> G </th>
            <td mat-cell *matCellDef="let player"> {{player.goals}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGoals }} </td>
        </ng-container>
        
        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef> A </th>
            <td mat-cell *matCellDef="let player"> {{player.assists}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalAssists }} </td>
        </ng-container>
        
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Pts </th>
            <td mat-cell *matCellDef="let player"> {{player.points}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalPoints }} </td>
        </ng-container>

        <ng-container matColumnDef="plus_minus">
            <th mat-header-cell *matHeaderCellDef> +/- </th>
            <td mat-cell *matCellDef="let player"> {{player.plus_minus}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalPlusMinus }} </td>
        </ng-container>

        <ng-container matColumnDef="penalty_minutes">
            <th mat-header-cell *matHeaderCellDef> PIM </th>
            <td mat-cell *matCellDef="let player"> {{player.penalty_minutes}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalPIM }} </td>
        </ng-container>

        <ng-container matColumnDef="pp_goals">
            <th mat-header-cell *matHeaderCellDef> PPG </th>
            <td mat-cell *matCellDef="let player"> {{player.pp_goals}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalPPG }} </td>
        </ng-container>

        <ng-container matColumnDef="sh_goals">
            <th mat-header-cell *matHeaderCellDef> SHG </th>
            <td mat-cell *matCellDef="let player"> {{player.sh_goals}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalSHG }} </td>
        </ng-container>

        <ng-container matColumnDef="gw_goals">
            <th mat-header-cell *matHeaderCellDef> GWG </th>
            <td mat-cell *matCellDef="let player"> {{player.gw_goals}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGWG }} </td>
        </ng-container>

        <ng-container matColumnDef="gt_goals">
            <th mat-header-cell *matHeaderCellDef> GTG </th>
            <td mat-cell *matCellDef="let player"> {{player.gt_goals}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGTG }} </td>
        </ng-container>

        <ng-container matColumnDef="shooting_pct">
            <th mat-header-cell *matHeaderCellDef> Sh% </th>
            <td mat-cell *matCellDef="let player"> {{player.shooting_pct}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ shootingPct }}% </td>
        </ng-container>

        <ng-container matColumnDef="minutes_per_game">
            <th mat-header-cell *matHeaderCellDef> Min/G </th>
            <td mat-cell *matCellDef="let player"> {{player.minutes_per_game}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ minPerGame }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let player; columns: columns"></tr>
        <tr mat-footer-row *matFooterRowDef="columns"></tr>

    </table>

</div>