img {
    width: 50px;
}

.mat-card-content {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 100px auto;
    margin-top: 20px;
}

.mat-card {
    background: linear-gradient(rgba(61, 90, 254, 0.25), rgba(61, 90, 254, 0.5), rgba(61, 90, 254, 0.95))
}

.headshot {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.stat {
    color: whitesmoke;
    font-style: italic;
}

.stat-highlight {
    color: whitesmoke;
    font-style: italic;
    font-size: large;
}

div p {
    font-weight: 100;
    margin: 3px 0;
}