<mat-button-toggle-group 
    #bySeason="matButtonToggleGroup" 
    [value]="currentSeasonType" 
    (change)="changeSeason(bySeason.value)"
>
    <mat-button-toggle value="Regular" color="accent">
        Regular
    </mat-button-toggle>
    <mat-button-toggle value="Playoffs" color="accent" [disabled]="!disablePlayoffButton">
        Playoffs
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="container" *ngFor="let division of divisions">

    <h3 class="title" *ngIf="!isLoading">{{division.name}} Division</h3>

    <section class="table">

        <app-team-stats-table 
            [teams]="getTeams(division.teams)"
            [statsColumnsToDisplay]="columns"
            [sortByPoints]="'true'"
            *ngIf="!isLoading"
        ></app-team-stats-table>

    </section>

</div>

