<table mat-table [dataSource]="leaders" class="mat-elevation-z8">

    <ng-container matColumnDef="team_logo">
        <th mat-header-cell *matHeaderCellDef><span *ngIf="isMobile">Team</span></th>
        <td mat-cell *matCellDef="let team"> 
            <img src="{{ team.teamlogo }}">
        </td>
    </ng-container>

    <ng-container matColumnDef="team_name">
        <th mat-header-cell *matHeaderCellDef> Team </th>
        <td mat-cell *matCellDef="let team">
            {{team.city}} {{team.nickname}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="goals_for">
        <th mat-header-cell *matHeaderCellDef> GF </th>
        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
    </ng-container>
    
    <ng-container matColumnDef="goals_against">
        <th mat-header-cell *matHeaderCellDef> GA </th>
        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
    </ng-container>

    <ng-container matColumnDef="goals_diff">
        <th mat-header-cell *matHeaderCellDef> Goal Diff </th>
        <td mat-cell *matCellDef="let team"> {{team.goals_for - team.goals_against}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isMobile ? mobileColumns : columns"></tr>
    <tr 
        mat-row 
        *matRowDef="let team; columns: isMobile ? mobileColumns : columns;" 
        (click)="routeToTeam(team)"
    ></tr>

</table>
