<table mat-table [dataSource]="leaders" class="mat-elevation-z8">

    <ng-container matColumnDef="team_logo">
        <th mat-header-cell *matHeaderCellDef><span *ngIf="isMobile">Team</span></th>
        <td mat-cell *matCellDef="let team"> 
            <img src="{{ team.teamlogo }}">  
        </td>
    </ng-container>

    <ng-container matColumnDef="team_name">
        <th mat-header-cell *matHeaderCellDef> Team </th>
        <td mat-cell *matCellDef="let team">
            {{team.city}} {{team.nickname}}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="pk_attempts">
        <th mat-header-cell *matHeaderCellDef> PKA </th>
        <td mat-cell *matCellDef="let team"> {{team.pk_attempts}} </td>
    </ng-container>
    
    <ng-container matColumnDef="pk_goals">
        <th mat-header-cell *matHeaderCellDef> PKG </th>
        <td mat-cell *matCellDef="let team"> {{team.pk_goals}} </td>
    </ng-container>

    <ng-container matColumnDef="pk_pct">
        <th mat-header-cell *matHeaderCellDef> PK% </th>
        <td mat-cell *matCellDef="let team"> {{(((team.pk_attempts - team.pk_goals) / team.pk_attempts) * 100).toFixed(1)}}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isMobile ? mobileColumns : columns"></tr>
    <tr 
        mat-row 
        *matRowDef="let team; columns: isMobile ? mobileColumns : columns;" 
    ></tr>

    <!-- (click)="openTeam(team.team_name)" -->

</table>
