.container {
    width: 100%;
    height: 90%;
    margin-top: 30px;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.headerImage {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.logoImage {
    object-fit: scale-down;
    width: 50%;
    overflow: hidden;
}

.image {
    height: 150px;
    width: 150px;
}

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: xx-large;
    color: white;
    font-weight: 100;
}

.welcome p {
    margin-left: 50px;
}

.welcome-button {
    margin-right: 50px;
}

.flier, .flier1 {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

.flier1 > * {
        animation: fly2 50s linear infinite;
        pointer-events: none !important;
        top: 0;
        left: 0;
        transform: translateX(-120%) translateY(-120%) rotateZ(0);
        position: fixed;
        animation-delay: 2s;
        z-index: 999999;
}

.flier2 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 3s;
    z-index: 999999;
}

.flier3 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 4s;
    z-index: 999999;
}

.flier4 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 5s;
    z-index: 999999;
}

.flier5 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 6s;
    z-index: 999999;
}

.flier6 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 7s;
    z-index: 999999;
}

.flier7 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 8s;
    z-index: 999999;
}

.flier8 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 9s;
    z-index: 999999;
}

.flier9 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 10s;
    z-index: 999999;
}

.flier10 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 11s;
    z-index: 999999;
}

.flier11 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 12s;
    z-index: 999999;
}

.flier12 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 13s;
    z-index: 999999;
}

.flier13 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 14s;
    z-index: 999999;
}

.flier14 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 15s;
    z-index: 999999;
}

.flier15 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 16s;
    z-index: 999999;
}

.flier16 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 17s;
    z-index: 999999;
}

.flier17 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 18s;
    z-index: 999999;
}

.flier18 > * {
    animation: fly2 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 19s;
    z-index: 999999;
}

.flier19 > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 20s;
    z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
        display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

@keyframes fly2 {

	98.001%, 0% {
        display: block;
		transform: translateX(100vh) translateY(-200%) rotateZ(0deg)
	}

	15% {
		transform: translateX(-100%) translateY(100vw) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(-30%) translateY(100vw) rotateZ(0deg)
	}

	40% {
		transform: translateX(3vh) translateY(-200%) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-100%) translateY(-200%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(50vh) translateY(100vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(-200%) translateY(20vw) rotateZ(180deg)
	}

	95% {
		transform: translateX(100vh) translateY(10vw) rotateZ(0deg)
	}
}


/* *************************** MEDIA QUERIES **************************** */

/* ***** IPAD ***** */
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .image {
        height: 100px;
        width: 100px;
    } 
}

/* ***** IPHONE XS MAX ***** */
@media screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
    .image {
        height: 75px;
        width: 75px;
    } 
}

/* ***** IPHONE 6/7/8 ***** */
@media screen and (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
    .image {
        height: 75px;
        width: 75px;
    } 
}