.playerStatsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.playerCard {
    border: 1px solid blue;
}

.playerCard p {
    color: white;
}

.spinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerStatsTable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-paginator {
    width: 90%;
}

.mat-row:hover {
    background-color: rgba(61, 90, 254, 0.4);
}

.full-width {
    width: 90%;
}

.teamInfoSection {
    width: 100%;
}

.teamInfoSection h1 {
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    cursor: pointer;
}

.teamInfoSection p {
    color: white;
    text-align: center;
    font-size: medium;
}

.teamCard {
    width: 100%;
    height: 100%;
}

.teamName {
    display: flex;
    justify-content: center;
    align-content: center;
}

.teamNameHeader {
    margin: 0 20px 0 20px;
}

.tableHeader {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: larger;
}

.teamImage {
    display: flex;
    align-items: center;
}

.teamImage img {
    height: 75px;
    width: 75px;
}

.table {
    border: 1px solid red;
    width: 100%;
}

.stats {
    overflow-y: auto;
}

.text {
    font-size: xx-large;
    color: white;
}