.teamInfoSection {
    display: grid;
    grid-template-columns: minmax(min-content, auto) auto;
    justify-content: flex-start;
    grid-column-gap: 5px;
    align-items: center;
    padding: 10px;
}

.biglogo {
    height: 150px;
    width: 150px;
}

.smalllogo {
    height: 100px;
    width: 100px;
}

.teamInfoSection h1 {
    text-align: left;
    font-size: xx-large;
    font-weight: 100;
}

.teamInfoSection p {
    text-align: left;
    font-size: medium;
    font-weight: 200;
}