<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="button-back" *ngIf="!isLoading">
    <button mat-fab color="accent" (click)="selectBackTeam()">
        <mat-icon>chevron_left</mat-icon>
    </button>
</div>

<div class="button-forward" *ngIf="!isLoading">
    <button mat-fab color="accent" (click)="selectForwardTeam()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>

<div class="teamInfoSection" [style.background-color]='team.teamcolor' *ngIf="!isLoading">

    <img src="{{team.teamlogo}}" [ngClass]="{'biglogo': !isMobile, 'smalllogo': isMobile}" *ngIf="team.shortname !== 'VSJ'">
    <img src="{{team.teamaltlogo}}" [ngClass]="{'biglogo': !isMobile, 'smalllogo': isMobile}" *ngIf="team.shortname === 'VSJ'">

    <div class="teamNameHeader">
        <h1 *ngIf="currentTeam" [style.color]='team.teamtextcolor'>{{team.city}} {{team.nickname}}</h1>
        <h1 *ngIf="!currentTeam" [style.color]='team.teamtextcolor'>{{team.city}} {{team.nickname}}</h1>
        <p [style.color]='team.teamtextcolor'>owner: {{team.firstname}} {{team.lastname}}</p>
    </div>

</div>

<nav mat-tab-nav-bar color="accent" *ngIf="!isLoading">
    <a mat-tab-link
        *ngFor="let route of routes"
        [disabled]="route.disabled"
        [routerLink]="route.url"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{route.name}}
    </a>
</nav>

<router-outlet></router-outlet>
