<div class="drop-down-container">
    <mat-form-field color="accent">
        <mat-label>Pick Year</mat-label>
        <mat-select matNativeControl #yearSelect (selectionChange)="toTradeYear($event)">
            <mat-option *ngFor="let year of years" value="{{year.query}}">
                {{year.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="container">

    <div class="spinner" *ngIf="isLoading">
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <div [ngClass]="{'frame': !isMobile, 'mobile-frame': isMobile}" *ngIf="!isLoading">
        <iframe [src]="tradePage" class="iframe"></iframe>
        <!-- <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQhNH4rS2kl3afY5kfy6IpXo4x3u-XJnuBh01R4bleYWovIvt-pk2JhtzxW-10kMamkd2LgpzmvuiMP/pubhtml?gid=1&single=true&gidwidget=false&headers=false" class="iframe"></iframe> -->
    </div>

</div>

