<mat-form-field color="accent">
    <mat-label>Pick Year</mat-label>
    <mat-select matNativeControl #yearSelect (selectionChange)="toTradeYear($event)">
        <mat-option *ngFor="let year of years" value="{{year.query}}">
            {{year.label}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div [ngClass]="{'frame': !isMobile, 'mobile-frame': isMobile}" *ngIf="!isLoading && !displayTrades">
    <iframe [src]="tradePage" class="iframe"></iframe>
</div>

<ng-container *ngIf="displayTrades && !isLoading">
    
    <mat-card *ngFor="let transaction of transactions" class="transaction">

        <mat-card-header>
          <mat-card-title>{{transaction.transaction_date}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <app-team-trade-card
            [teamInfo]="transaction.team_one"
            [teamPicks]="transaction.team_one_picks"
            [teamPlayers]="transaction.team_one_players"
          ></app-team-trade-card>

          <app-team-trade-card
            [teamInfo]="transaction.team_two"
            [teamPicks]="transaction.team_two_picks"
            [teamPlayers]="transaction.team_two_players"
          ></app-team-trade-card>

        </mat-card-content>
        
      </mat-card>

</ng-container>
