<div class="mainContainer">
    <div class="header">
        <p>Roster Rules</p>
    </div>
    <div class="body">
        <div class="list">
            <ul>
                <li>CHA rosters may comprise of a <span class="max"><i>maximum of 30 skaters</i></span>, including at least 2 (but no more than 3) goaltenders (see Emergency Goaltender Rule).</li>
                <li>CHA rosters must have a <span class="min"><i>minimum of 24 players</i></span> (including goaltenders).</li>
                <li>Roster maximum and salary cap only apply during the season.</li>
            </ul>
        </div>
    </div>
</div>
    
