<mat-progress-bar
  mode="query"
  color="accent"
  *ngIf="!westernTeams && !easternTeams"
></mat-progress-bar>

<ng-container *ngIf="westernTeams && easternTeams">
  <div class="playoff-tree-games-conference">
    <h3>West</h3>

    <div class="conference-container">
      <div class="round-container">
        <!-- SAC / MEM -->
        <app-playoff-matchup-card
          [homeTeam]="westernTeams[0]"
          [visTeam]="westernTeams[7]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- WIC / VIC -->
        <app-playoff-matchup-card
          [homeTeam]="westernTeams[2]"
          [visTeam]="westernTeams[5]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- OAK / KEL -->
        <app-playoff-matchup-card
          [homeTeam]="westernTeams[3]"
          [visTeam]="westernTeams[4]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- CHY / SFC -->
        <app-playoff-matchup-card
          [homeTeam]="westernTeams[1]"
          [visTeam]="westernTeams[6]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>

      <div class="round-container">
        <!-- OAK / KEL -->
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- LV / SEA -->
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>

      <div class="round-container">
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [seriesScore]="'0-0'"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>
    </div>
  </div>

  <div class="playoff-tree-games-final">
    <h2>Liberty Cup</h2>

    <div class="playoff-tree-games-final-matchup">
      <img src="../../../assets/images/libertycup.jpg" />

      <app-playoff-matchup-final-card
        [homeTeam]="null"
        [visTeam]="null"
        [seriesScore]="'0-0'"
        [winningTeam]="null"
        [losingTeam]="null"
        [seriesTied]="false"
        [seriesDone]="false"
      ></app-playoff-matchup-final-card>
    </div>

    <div>
      <app-playoff-matchup-final-champion
        [champion]="null"
      ></app-playoff-matchup-final-champion>

      <h2>CHAMPION</h2>
    </div>
  </div>

  <div class="playoff-tree-games-conference">
    <h3>East</h3>

    <div class="conference-container">
      <div class="round-container">
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [seriesScore]="'0-0'"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>

      <div class="round-container">
        <!-- ATL / MSG -->
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesTied]="false"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- CIN / IND -->
        <app-playoff-matchup-card
          [homeTeam]="null"
          [visTeam]="null"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>

      <div class="round-container">
        <!-- GLORY / NORTH STARS -->
        <app-playoff-matchup-card
          [homeTeam]="easternTeams[0]"
          [visTeam]="easternTeams[7]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- ATL / CIN -->
        <app-playoff-matchup-card
          [homeTeam]="easternTeams[2]"
          [visTeam]="easternTeams[5]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
        <!-- MIL / AUG -->
        <app-playoff-matchup-card
          [homeTeam]="easternTeams[3]"
          [visTeam]="easternTeams[4]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>

        <!-- PEO / IND -->
        <app-playoff-matchup-card
          [homeTeam]="easternTeams[1]"
          [visTeam]="easternTeams[6]"
          [winningTeam]="null"
          [losingTeam]="null"
          [seriesScore]="'0-0'"
          [seriesDone]="false"
        ></app-playoff-matchup-card>
      </div>
    </div>
  </div>
</ng-container>
