:host {
    display: grid;
    width: 100%;
    grid-row-gap: 20px;
    overflow-x: hidden;
}

.team-ratings-goalie-title {
    color: white;
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}

.team-ratings-goalie-table {
    width: 100%;
    overflow-x: auto;
}