:host {
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    display: grid;
    padding: 20px;
    grid-template-columns: minmax(350px, auto);
    grid-row-gap: 30px;
}

img {
    width: 200px;
}

.card {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 0 20px lightsteelblue;
    color: white;
    display: grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    grid-template-columns: minmax(250px, auto);
    grid-row-gap: 20px;
}

.card-header {
    font-size: xx-large;
    font-weight: 100;
    margin: 20px 0;
}

.mat-form-field {
    width: 100%;
}

.icons {
    margin-right: 10px;
    color: blue;
}

.verified {
    color: green;
}

.unverified {
    color: red;
}

.error {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}