<img src="../../../assets/images/cha_logo.jpg">

<div class="card">

    <h4 class="card-header">CHA Login</h4>

    <form [formGroup]="loginForm" class="form">

        <mat-form-field color="accent">
            <mat-icon matPrefix class="icons">mail_outline</mat-icon>
            <mat-label>Email</mat-label>
            <input #emailInput matInput placeholder='Email' formControlName='email' required
            (keyup)='toLowerCase(emailInput.value)'>
            <mat-error *ngIf="email.invalid">
                {{ getError('email') }}
            </mat-error>
            <mat-icon matSuffix *ngIf="email.invalid && email.touched" class="unverified">error_outline</mat-icon>
            <mat-icon matSuffix *ngIf="email.valid" class="verified">check_circle_outline</mat-icon>
        </mat-form-field>

        <mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

        <div class="error" *ngIf="error && showNotification">
            <mat-error >{{ error }}</mat-error>
        </div>

    </form> 

    <button 
        mat-raised-button 
        color="accent" 
        type="submit" 
        [disabled]="isLoading"
        (click)="onSubmit()"
    >
        Login
    </button>

</div>