<div class="mainContainer">
    <div class="header">
        <p>Player Protection Rule</p>
    </div>
    <div class="body">
        <div class="list">
            <p>If a CHA player does not play in the minimum required NHL games for CHA game disk eligibility, he is subject to the Player Protection Rule.  The General Manager with the player's rights has 3 options:</p>
            <ol>
                <li>Pay a $10 retainer fee (due with the following years dues) and not have the player count towards his/her roster maximum or salary cap.  </li>
                <li>Do not pay the $10 retainer fee.  Instead, keep the player as a roster player counting towards the team's salary cap and roster maximum. This option is only available if the player has an NHL salary for that season. If the player is in another league for that season, the GM can select option 1 or 3.</li>
                <li>Do neither.  The player would be released and considered eligible for the CHA entry draft when/if he returns to the CHA game disk. </li>
            </ol>
        </div>
    </div>
</div>
    
