.champion-container {
    /* height: 160vh; */
    /* border: 1px solid blue; */
    margin: 20px 0;
    width: 500px;
}

.conference-container {
    /* width: 65%; */
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 2100px;
}

.tree-container {
    overflow-x: auto;
    /* width: 2600px; */
    /* border: 1px solid blue; */
}

.header-text {
    color: white;
    font-weight: 100;
    text-align: center;
    width:100%;
    margin: 5px 0;
}

.round-container {
    width: 725px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    border: 1px solid blue;
}

.rounds-container {
    display: inline-flex;
    justify-content: center;
    align-items: space-evenly;
}

.east {
    border-top: 1px solid lightgray;
}

.grid-width {
    width: 2600px;
}

.grid-tile {
    /* border: 1px solid blue; */
}

.matchups {
    /* border: 1px solid green; */
    
    
}