<div class="tree-container">

    <mat-grid-list cols="5" rowHeight="825px" class="grid-width">
    
        <mat-grid-tile colspan="4" rowspan="1" class="grid-tile">
    
            <div class="conference-container">
    
                <h1 class="header-text">Western Conference</h1>
        
                <div class="rounds-container">
        
                    <div class="round-container">
        
                        <h4 class="header-text">Quarter-Finals</h4>

                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernQuarterMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="header-text">Semi-Finals</h4>

                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernSemiMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="header-text">Conference-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernConferenceMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                        
                    </div>
        
                </div>
        
            </div>
    
        </mat-grid-tile>
    
        <mat-grid-tile colspan="1" rowspan="2" class="grid-tile">
            <app-champion></app-champion>
        </mat-grid-tile>
    
        <mat-grid-tile colspan="4" rowspan="1">
    
            <div class="conference-container east">
    
                <h1 class="header-text">Eastern Conference</h1>
        
                <div class="rounds-container">
        
                    <div class="round-container">
        
                        <h4 class="header-text">Quarter-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternQuarterMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="header-text">Semi-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternSemiMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="header-text">Conference-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternConferenceMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                        
                    </div>
        
                </div>
        
            </div>
    
        </mat-grid-tile>
    
    </mat-grid-list>

</div>