<div class="tree-container">

    <mat-grid-list cols="5" rowHeight="825px" gutterSize="25px" class="grid-width">
    
        <mat-grid-tile colspan="3" rowspan="1" class="grid-tile">

            <div class="conference">

                <h1 class="header-text">Western Conference</h1>
    
                <div class="rounds-container">
                
                    <div class="round-container">
                
                        <h4 class="round-text">Quarter-Finals</h4>
                
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernQuarterMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                
                    </div>
                
                    <div class="round-container">
                
                        <h4 class="round-text">Semi-Finals</h4>
                
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernSemiMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                
                    </div>
                
                    <div class="round-container">
                
                        <h4 class="round-text">Conference-Finals</h4>
                
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of westernConferenceMatchups" 
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                        
                    </div>
                
                </div>

            </div>
    
        </mat-grid-tile>
    
        <mat-grid-tile colspan="1" rowspan="2" class="grid-tile">

            <div class="round-container">
        
                <h1 class="round-text">Championship</h1>
    
                <div class="matchups" *ngFor="let matchup of championship">
                    <app-matchup 
                        [matchup]="matchup"
                    ></app-matchup>
                </div>
    
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="2" class="grid-tile">

            <app-champion [champion]="champion"></app-champion>

        </mat-grid-tile>
    
        <mat-grid-tile colspan="3" rowspan="1" class="grid-tile">
    
            <div class="conference east">
    
                <h1 class="header-text">Eastern Conference</h1>
        
                <div class="rounds-container">
        
                    <div class="round-container">
        
                        <h4 class="round-text">Quarter-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternQuarterMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="round-text">Semi-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternSemiMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
            
                    </div>
            
                    <div class="round-container">
            
                        <h4 class="round-text">Conference-Finals</h4>
            
                        <div class="matchups">
                            <app-matchup 
                                *ngFor="let matchup of easternConferenceMatchups"
                                [matchup]="matchup"
                            ></app-matchup>
                        </div>
                        
                    </div>
        
                </div>
        
            </div>
    
        </mat-grid-tile>
    
    </mat-grid-list>

</div>