<div class="mainContainer">
    <div class="header">
        <p>Player Equalization Rule</p>
    </div>
    <div class="body">
        <div class="list">
            <ul>
                <li>Any skater under 41 (40 or less) NHL games played or any goaltender under 35 (34 or less) NHL games played is subject to the player equalizer rule (PER), also known as the 110% rule.  Subject players may only play the number of their previous season's NHL games played total plus 10% during the CHA's regular season (a player who appeared in 25 NHL games is eligible to play 28 CHA regular season games. Fractions will be rounded up)</li>
                <li>Any GM who violates the 'PER' will have the offending player returned into the free agent pool. That player would not be available until the following Entry Draft. </li>
            </ul>
        </div>
        <div class="list">
            <p>Subject players will also be limited in their playoff availability:</p>
            <ul>
                <li>Skaters under 41 NHL games played are not eligible until the 2nd round.</li>
                <li>Skaters under 31 NHL games played are not eligible until the 3rd round.</li>
                <li>Skaters under 21 NHL games played are not eligible until the Finals.</li>
                <li>Starting goaltenders in the playoffs must have a minimum of 35 NHL games played.</li>
                <li>Goalies under 35 NHL games played are available in any/all rounds of the playoffs as injury replacements only.</li>
            </ul>
        </div>
    </div>
</div>
