:host {
    color: white;
    display: grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: minmax(350px, 1fr);
}

.filter-add {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-add button {
    width: min-content;
    margin: auto;
}

.table {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    text-align: center;
    width: 100%;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
}

.mat-header-cell {
    text-align: center;
}

.mat-cell, .mat-header-cell {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.table img {
    width: 30px;
    height: 30px;
}

.mat-form-field {
    width: 300px;
}

.mat-progress-bar {
    width: 75%;
    margin-top: 50px;
}

.full-width {
    width: 100%;
}

h3 {
    font-size: x-large;
    font-weight: 100;   
}

p {
    font-weight: 100;
}

.mat-button-toggle-group {
    margin: auto;
}

.mat-button-toggle-checked {
    background-color: red;
}

.lottery {
    font-size: large;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}