.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: medium;
    padding: 10px 10px;
}

.stats p {
    margin: 2px 0;
    font-weight: 200;
    color: whitesmoke;
}

.stat-individual {
    padding: 10px 10px;
}

.white {
    border-right-color: whitesmoke;
}