<mat-button-toggle-group 
    #bySeason="matButtonToggleGroup" 
    [value]="currentSeasonType" 
    (change)="changeSeason(bySeason.value)"
>
    <mat-button-toggle value="Regular" color="accent">
        Regular
    </mat-button-toggle>
    <mat-button-toggle value="Playoffs" color="accent" [disabled]="!disablePlayoffButton">
        Playoffs
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<ng-container *ngIf="!isLoading">

    <div class="container" *ngFor="let conference of conferences">

        <h3 class="title">{{conference.name}} Conference</h3>
    
        <section class="table">
            <app-team-stats-table 
                [teams]="conference.teams"
                [statsColumnsToDisplay]="columns"
                [sortByPoints]="true"
            ></app-team-stats-table>
        </section>
    
    </div>

</ng-container>



