:host {
    display: grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: minmax(350px, 1fr);
}

.container {
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

.title {
    color: white;
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}

.mat-button-toggle-group {
    margin: 10px 0;
}

.mat-button-toggle-checked {
    background-color: red;
}