:host {
    display: grid;
    padding: 20px;
    grid-template-columns: minmax(350px, 1fr);
}

.mat-card-content {
    display: grid;
    grid-column-gap: 5px;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    grid-template-rows: min-content;
    grid-row-gap: 10px;
    margin-top: 20px;
}

.main {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 100px 1fr;
}

.mat-card-content p {
    margin: 3px 0;
}

.headshot {
    height: 100px;
    width: auto;
    border-radius: 10px;
}
