<mat-card 
    *ngIf="(player$ | async) as player"
    [style.background-color]="getColor(player)"
>

    <mat-card-header>

        <div 
            mat-card-avatar 
            [style.background-image]="getLogo(player)"
            style="background-size: cover;">
        </div>

        <mat-card-title>{{player.firstname}} {{player.lastname}}</mat-card-title>

        <mat-card-subtitle *ngIf="!player.isactive">
            Status: Inactive
        </mat-card-subtitle>
        
        <mat-card-subtitle *ngIf="player.city && player.isactive">
            Team: {{player.city}} {{player.nickname}}
        </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>

        <div class="main">
            <img 
                [src]="getPlayerPicture(player.nhl_id)" 
                class="headshot"
                *ngIf="player.nhl_id"
            >

            <img 
                src="../../../assets/images/cha_logo.jpg" 
                class="headshot"
                *ngIf="!player.nhl_id"
            >

            <div *ngIf="(nhlPlayerInfo$ | async) as info">
                <p>Country: <span class="stat">{{info.birthCountry}}</span></p>
                <p>Height: <span class="stat">{{info.height}}</span></p>
                <p>Age: <span class="stat">{{info.age}}</span></p>
                <p>Position: <span class="stat">{{info.position}}</span></p>
                <p>Shoots: <span class="stat">{{info.shoots}}</span></p>
            </div>

        </div>

        <div *ngIf="(salary$ | async) as salary">
            <p>Current Season Salary: <span class="stat">{{salary.season_2021}}</span></p>
            <p>Next Season Salary: <span class="stat">{{salary.season_2022}}</span></p>
        </div>

        <div *ngIf="(awards$ | async)?.length > 0">
            <p>Awards: </p>
            <ul *ngFor="let award of awards$ | async">
                <li>{{award.display_season}} - {{award.display_name}} ({{award.nickname}})</li>
            </ul>
            
        </div>

    </mat-card-content>

</mat-card>
