<div class="container">
    <div class="header" *ngIf="historicTeam" [style.background-color]='teamInfo.color'>
        <img src="{{findLogo(team.team_name).image}}">
        <p [style.color]='teamInfo.fontColor'>
            {{team.team_city}} {{team.team_nickname}} - {{team.playing_year}}({{team.season_type}})
        </p>
    </div>
    <div class="stats" *ngIf="team">
        <div class="stat-individual">
            Overall: {{team.wins}} - {{team.loss}} - {{team.ties}}
        </div>
        <mat-divider [vertical]="true" class="white"></mat-divider>
        <div class="stat-individual">
            Points: {{team.points}}
        </div>
        <mat-divider [vertical]="true" class="white"></mat-divider>
        <div class="stat-individual">
            Home: {{team.home_wins}} - {{team.home_loss}} - {{team.home_ties}}
        </div>
        <mat-divider [vertical]="true" class="white"></mat-divider>
        <div class="stat-individual">
            Away: {{team.road_wins}} - {{team.road_loss}} - {{team.road_ties}}
        </div>
        <mat-divider [vertical]="true" class="white"></mat-divider>
        <div class="stat-individual">
            Division: {{team.div_win}} - {{team.div_loss}} - {{team.div_tie}}
        </div>
    </div>
    
</div>
