<p class="header">Draft Lottery Rules</p>

<div class="list">
    <ul>
        <li>The bottom 9 teams in the regular season qualify for the draft lottery (The number of teams eligible is based on the percentage of total NHL teams eligible for the NHL draft lottery).</li>
        <li>All eligible teams qualify for the 1st overall selection.</li>
        <li>No team can worsen their draft position by more than one spot.</li>
        <li>Odds of improving one's draft position are based upon final regular season positioning. Odds of obtaining the 1st overall selection are as follows:</li>
        <ul>
            <li>20th - 35%</li>
            <li>19th - 22%</li>
            <li>18th - 13%</li>
            <li>17th - 9%</li>
            <li>16th - 7%</li>
            <li>15th - 5%</li>
            <li>14th - 4%</li>
            <li>13th - 3%</li>
            <li>12th - 2%</li>
        </ul>
    </ul>
</div>