<div class="spinner" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
</div>

<div class="teamsStatsTable cha-dark" *ngIf="!isLoading">

    <mat-tab-group color="accent" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="League">
            <div class="table">

                <table mat-table [dataSource]="teams" #overallSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }}%</td>
                    </ng-container>
        
                    <!-- <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container> -->
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <!-- <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container> -->
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>
        </mat-tab>

        <mat-tab label="Conference"> 
            <div class="table">

                <div class="tableHeader">
                    <p>Western Conference</p>
                </div>

                <table mat-table [dataSource]="westernTeams" #westernSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>

            <div class="table">

                <div class="tableHeader">
                    <p>Eastern Conference</p>
                </div>

                <table mat-table [dataSource]="easternTeams" #easternSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK% </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }}%</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>
        </mat-tab>

        <mat-tab label="Division">
            <div class="table">

                <div class="tableHeader">
                    <p>North West Division</p>
                </div>

                <table mat-table [dataSource]="northWesternTeams" #nwSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct}} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>

            <div class="table">

                <div class="tableHeader">
                    <p>South West Division</p>
                </div>

                <table mat-table [dataSource]="southWesternTeams" #swSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>

            <div class="table">

                <div class="tableHeader">
                    <p>North East Division</p>
                </div>

                <table mat-table [dataSource]="northEasternTeams" #neSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>

            <div class="table">

                <div class="tableHeader">
                    <p>South East Division</p>
                </div>

                <table mat-table [dataSource]="southEasternTeams" #seSort="matSort" matSort class="mat-elevation-z8 full-width" matSortActive="points" matSortDirection="desc">

                    <ng-container matColumnDef="team_logo" sticky>
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let team"> 
                            <img src="{{ findLogo(team.team_name).image }}"> 
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="team_name" sticky>
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let team"> {{findLogo(team.team_name).name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="games_played">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GP </th>
                        <td mat-cell *matCellDef="let team"> {{team.games_played}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="loss">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.loss}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> T </th>
                        <td mat-cell *matCellDef="let team"> {{team.ties}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Pts </th>
                        <td mat-cell *matCellDef="let team"> {{team.points}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_for}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_for_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GF/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_for_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA </th>
                        <td mat-cell *matCellDef="let team"> {{team.goals_against}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_against_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> GA/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_against_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="goals_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Goal Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.goals_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="win_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Win % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.win_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pp_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PP % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pp_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="pk_pct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PK % </th>
                        <td mat-cell *matCellDef="let team"> {{ team.pk_pct }} %</td>
                    </ng-container>
        
                    <ng-container matColumnDef="sh_goals">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> SHG </th>
                        <td mat-cell *matCellDef="let team"> {{ team.sh_goals}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="penalty_minutes_game">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> PIM/g </th>
                        <td mat-cell *matCellDef="let team"> {{ team.penalty_minutes_game }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="shot_diff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Shot Diff </th>
                        <td mat-cell *matCellDef="let team"> {{ team.shot_diff }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="div_record">
                        <th mat-header-cell *matHeaderCellDef> Div </th>
                        <td mat-cell *matCellDef="let team"> {{team.div_win}}-{{team.div_loss}}-{{team.div_tie}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="home_record">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let team"> {{team.home_wins}}-{{team.home_loss}}-{{team.home_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="away_record">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let team"> {{team.road_wins}}-{{team.road_loss}}-{{team.road_ties}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="trail_record">
                        <th mat-header-cell *matHeaderCellDef> Trailing After 2 </th>
                        <td mat-cell *matCellDef="let team"> {{team.trail_after_two_wins}}-{{team.trail_after_two_loss}}-{{team.trail_after_two_ties}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="teamsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let team; columns: teamsColumnsToDisplay;" (click)="openTeam(team.team_name)"></tr>
        
                </table>
        
            </div>
        </mat-tab>

    </mat-tab-group>

</div>
    
