:host {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: minmax(350px, auto);
}

.title {
    color: white;
    font-size: x-large;
    font-weight: 100;
    text-align: center;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
    cursor: pointer;
}

table img {
    height: 30px;
    width: 30px;
}

.mat-cell, .mat-header-cell {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
}

th, td {
    color: white;
    text-align: center;
    font-weight: 100;
}
