.team-logo {
    height: 50px;
    width: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container {
    width: 100%;
    margin: 0;
    text-align: center;
}

.team-card-container {
    background-color: rgba(138, 136, 136, 0.4);
    height: 95%;
    padding: 8px;
}

