<mat-card *ngIf="team" class="team-card-container">

    <mat-card-header>
        <mat-card-title>{{team.team_city}} {{team.team_nickname}}</mat-card-title>
        <mat-card-subtitle>Seed {{team.seed}}</mat-card-subtitle>
    </mat-card-header>

    <div class="card-container">

        <img mat-card-image src="{{ findLogo(team.team_name).image }}" class="team-logo">

        <mat-card-content class="content-container">
            Regular Season: {{team.wins}}-{{team.loss}}-{{team.ties}}
        </mat-card-content>
    </div>

</mat-card>
