<div class="main-container cha-dark">

    <button mat-icon-button class="home-button" color="accent" routerLink="main" *ngIf="currentUser">
        <mat-icon>home</mat-icon>
    </button>

    <div class="header-container">

        <!-- <img src="../../assets/images/teambanner2020.jpg"> -->

        <div class="header-text">
            <p class="title">Continental Hockey Association</p>
            <p class="sub-title">est. 1995</p>
        </div>

    </div>

    <div class="body-container cha-dark">

        <nav mat-tab-nav-bar color="accent" *ngIf="currentUser">
            <a mat-tab-link
                *ngFor="let route of routes"
                [routerLink]="route.url"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{route.name}}
            </a>
        </nav>
        
        <router-outlet></router-outlet>

    </div>

</div>



