.main-container {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../../assets/images/hockey_rink.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.header-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.header-text {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    font-size: 50px;
    color: white;
    font-weight: 100;
    margin: 0;
    cursor: pointer;
}

.sub-title {
    font-size: small;
    color: white;
    font-weight: 300;
    margin: 0;
}

.button-container {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    border: 1px solid red;
}

.buttons {
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px; 
    margin: 5px 10px;
}

.buttons:hover {
    border: 1px solid #3D5AFE;
}

button {
    font-size: large;
    padding: 5px 20px;
}

button:hover {
    color: #3D5AFE;
}

.body-container {
    height: 90%;
    width: 100%;
}

.chosen {
    font-style: italic;
    color: #3D5AFE;
}


/* *************************** MEDIA QUERIES **************************** */


/* ***** IPAD PRO ***** */
@media screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
    .button-container{
        width: 75%;
    }
}

/* ***** IPAD ***** */
@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .button-container{
        width: 90%;
    }
}

@media screen and (max-width: 1009px) {
    .button-container{
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .button-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .header-container {
        height: 30%;
    }
}

/* ***** IPAD ***** */
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .header-container {
        height: 20%;
    }

    .header-text {
        height: 40%;
    }
}

@media screen and (max-width: 752px) {
    .header-container {
        height: 35%;
    }

    .header-text {
        height: 40%;
    }

    .sub-title {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .header-container {
        height: 35%;
    }

    .header-text {
        height: 40%;
    }
}

@media screen and (max-width: 474px) {
    .header-container {
        height: 45%;
    }

    .header-text {
        height: 40%;
    }
}

/* ***** IPHONE XS ***** */
@media screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
    .header-container {
        height: 55%;
    }

    .header-text {
        height: 40%;
    }

    .sub-title {
        display: none;
    }
}

/* ***** IPHONE 6,7,8 plus ***** */
@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
    .header-container {
        height: 55%;
    }

    .header-text {
        height: 45%;
    }

    .sub-title {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .header-container {
        height: 55%;
    }

    .header-text {
        height: 40%;
    }
}

/* ***** IPHONE XS ***** */
@media screen and (max-width: 375px) and (max-height: 812px) and (orientation: portrait) {
    .header-container {
        height: 65%;
    }

    .header-text {
        height: 40%;
    }

    .sub-title {
        display: none;
    }
}

/* ***** IPHONE 6/7/8 ***** */
@media screen and (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
    .header-container {
        height: 75%;
    }

    .header-text {
        height: 45%;
    }

    .sub-title {
        display: none;
    }
}

@media screen and (max-width: 349px) {
    .header-container {
        height: 60%;
    }

    .header-text {
        height: 40%;
    }
}
