<div class="main-container">

    <div class="header-container">

        <div class="header-text">
            <p class="title" routerLink="main">Continental Hockey Association</p>
            <p class="sub-title">est. 1995</p>
        </div>

    </div>

    <div class="body-container cha-dark">

        <nav mat-tab-nav-bar color="accent">
            <a mat-tab-link
                *ngFor="let route of routes"
                [routerLink]="route.url"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{route.name}}
            </a>
        </nav>
        
        <router-outlet></router-outlet>

    </div>

</div>



