<div class="table">
                        
    <table mat-table [dataSource]="stats" matSort class="mat-elevation-z8" matSortActive="playing_year" matSortDirection="desc">

        <ng-container matColumnDef="team_logo" sticky>
            <th mat-header-cell *matHeaderCellDef> Team </th>
            <td mat-cell *matCellDef="let player"> 
                <img src="{{ player.teamlogo }}" matTooltip="{{ player.nickname }}"> 
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="playing_year" sticky>
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let player"> {{player.playing_year}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="season_type" sticky>
            <th mat-header-cell *matHeaderCellDef> Season </th>
            <td mat-cell *matCellDef="let player"> {{player.season_type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="games_played">
            <th mat-header-cell *matHeaderCellDef> GP </th>
            <td mat-cell *matCellDef="let player"> {{player.games_played}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGamesPlayed }} </td>
        </ng-container>

        <ng-container matColumnDef="wins">
            <th mat-header-cell *matHeaderCellDef> Wins </th>
            <td mat-cell *matCellDef="let player"> {{player.wins}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalWins }} </td>
        </ng-container>

        <ng-container matColumnDef="loss">
            <th mat-header-cell *matHeaderCellDef> Loss </th>
            <td mat-cell *matCellDef="let player"> {{player.loss}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalLoss }} </td>
        </ng-container>

        <ng-container matColumnDef="ties">
            <th mat-header-cell *matHeaderCellDef> Ties </th>
            <td mat-cell *matCellDef="let player"> {{player.ties}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalTies }} </td>
        </ng-container>

        <ng-container matColumnDef="goals_against">
            <th mat-header-cell *matHeaderCellDef> GA </th>
            <td mat-cell *matCellDef="let player"> {{player.goals_against}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalGA }} </td>
        </ng-container>

        <ng-container matColumnDef="goals_against_avg">
            <th mat-header-cell *matHeaderCellDef> GAA </th>
            <td mat-cell *matCellDef="let player"> {{player.goals_against_avg}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ GAA }} </td>
        </ng-container>

        <ng-container matColumnDef="shots_for">
            <th mat-header-cell *matHeaderCellDef> SA </th>
            <td mat-cell *matCellDef="let player"> {{player.shots_for}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalSA }} </td>
        </ng-container>

        <ng-container matColumnDef="save_pct">
            <th mat-header-cell *matHeaderCellDef> Sv% </th>
            <td mat-cell *matCellDef="let player"> {{player.save_pct}}% </td>
            <td mat-footer-cell *matFooterCellDef> {{ savePCT }}% </td>
        </ng-container>

        <ng-container matColumnDef="shutouts">
            <th mat-header-cell *matHeaderCellDef> SO </th>
            <td mat-cell *matCellDef="let player"> {{player.shutouts}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalSO }} </td>
        </ng-container>

        <ng-container matColumnDef="minutes_played">
            <th mat-header-cell *matHeaderCellDef> MIN </th>
            <td mat-cell *matCellDef="let player"> {{player.minutes_played}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalMin }} </td>
        </ng-container>

        <ng-container matColumnDef="penalty_minutes">
            <th mat-header-cell *matHeaderCellDef> PIM </th>
            <td mat-cell *matCellDef="let player"> {{player.penalty_minutes}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalPIM }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let player; columns: columns"></tr>
        <tr mat-footer-row *matFooterRowDef="columns"></tr>

    </table>

</div>
