<table 
    mat-table 
    [dataSource]="salariesData" 
    #forwardSort="matSort" 
    matSort 
    class="mat-elevation-z8" 
    matSortActive="season_2020" 
    matSortDirection="desc"
>
    
    <ng-container matColumnDef="player_name">
        <th mat-header-cell *matHeaderCellDef sticky> Name </th>
        <td mat-cell *matCellDef="let player"> {{player.firstname}} {{player.lastname}}</td>
        <td mat-footer-cell *matFooterCellDef class="black">Totals: {{total}}</td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="center"> P </th>
        <td mat-cell *matCellDef="let player" class="center"> {{player.position}} </td>
        <td mat-footer-cell *matFooterCellDef class="center black"></td>
    </ng-container>

    <ng-container matColumnDef="season_2021">
        <th mat-header-cell *matHeaderCellDef class="center"> 2020-21 </th>
        <td mat-cell *matCellDef="let player" class="center">
            <span *ngIf="player.season_2021 !== 'UFA' && player.season_2021 !== 'RFA'">{{ player.season_2021 }} </span>
            <span *ngIf="player.season_2021 === 'UFA'" class="red">{{ player.season_2021 }} </span>
            <span *ngIf="player.season_2021 === 'RFA'" class="yellow">{{ player.season_2021 }} </span>
        </td>
        <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalCurrentSalary}}</td>
    </ng-container>

    <ng-container matColumnDef="next">
        <th mat-header-cell *matHeaderCellDef class="center"> 2021-22 </th>
        <td mat-cell *matCellDef="let player" class="center">
            <span *ngIf="player.season_2022 !== 'UFA' && player.season_2022 !== 'RFA'">{{ player.season_2022 }} </span>
            <span *ngIf="player.season_2022 === 'UFA'" class="red">{{ player.season_2022 }} </span>
            <span *ngIf="player.season_2022 === 'RFA'" class="yellow">{{ player.season_2022 }} </span>
        </td>
        <td mat-footer-cell *matFooterCellDef class="center black" [style.background-color]='black'>{{totalNextSalary}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr 
        mat-row 
        *matRowDef="let player; columns: columns;"
        (click)="openPlayer(player)"
    ></tr>

    <tr mat-footer-row *matFooterRowDef="columns;"></tr>

</table>
