:host {
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;
    color: white;
    font-size: small;
    font-weight: 200;
    padding: 10px;
}

.chart-container {
    height: 300px;
}

.player-container {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(125px, auto));
    grid-column-gap: 10px;
}

.player-container img {
    border-radius: 10px;
    width: 100%;
}

.player-container p {
    margin: 5px 0;
}

.stats {
    color: red;
    font-style: italic;
}