img {
    width: 50px;
}

.win {
    color: green;
    font-size: 10px;
    width: 12px;
    height: 12px;
}

.loss {
    color: red;
    font-size: 10px;
    width: 12px;
    height: 12px;
}

.tie {
    color: black;
    font-size: 10px;
    width: 12px;
    height: 12px;
}