<h3 class="title" *ngIf="player?.isactive">On Pace Stats</h3>

<mat-progress-bar mode="query" color="accent" *ngIf="isOnPaceStatsLoading && player?.isactive"></mat-progress-bar>

<p class="text" *ngIf="!isOnPaceStatsLoading && statsError">No NHL Stats This Season!</p>

<app-player-information-nhl-table
    *ngIf="!isOnPaceStatsLoading && !statsError && player?.isactive"
    [stats]="onPaceStats"
    [columns]="playerType === 'player' ? playersOnPaceColumns : goalieOnPaceColumns"
></app-player-information-nhl-table>

<h3 class="title">NHL Stats</h3>

<mat-progress-bar mode="query" color="accent" *ngIf="isStatsLoading"></mat-progress-bar>

<p class="text" *ngIf="!isStatsLoading && statsError">No NHL Stats This Season!</p>

<app-player-information-nhl-table
    *ngIf="!isStatsLoading && !statsError"
    [stats]="nhlStats"
    [columns]="playerType === 'player' ? playersColumns : goalieColumns"
    [totals]="totals"
></app-player-information-nhl-table>
