<mat-card 
    *ngFor="let scorer of scorers$ | async"
    [style.background-color]="getColor(scorer.teamcolor)"
>

    <mat-card-header>

        <div 
            mat-card-avatar 
            [style.background-image]="getLogo(scorer.teamlogo)"
            style="background-size: cover;">
        </div>

        <mat-card-title>{{scorer.cha_season}} - {{scorer.playerfirst}} {{scorer.playerlast}}</mat-card-title>
        <mat-card-subtitle>Team: {{scorer.city}} {{scorer.nickname}}</mat-card-subtitle>
        <mat-card-subtitle>Owner: {{scorer.ownerfirst}} {{scorer.ownerlast}}</mat-card-subtitle>

    </mat-card-header>

</mat-card>
