<mat-card *ngIf="player" (click)="openPlayer(player)">

    <mat-card-header>

      <div mat-card-avatar style="background-size: cover;">
        <img [src]="player.teamlogo">
      </div>
    
      <mat-card-title>{{player.firstname}} {{player.lastname}}</mat-card-title>
      <mat-card-subtitle>{{player.nickname}}</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>

        <img [src]="getPlayerPicture()" class="headshot">

        <div *ngIf="statType === 'wins'">
            <p>Games Played: <span class="stat">{{player.games_played}}</span></p>
            <p>Wins: <span class="stat-highlight">{{player.wins}}</span></p>
        </div>

        <div *ngIf="statType === 'gaa'">
            <p>Games Played: <span class="stat">{{player.games_played}}</span></p>
            <p>Goals Against Avg: <span class="stat-highlight">{{player.goals_against_avg}}</span></p>
        </div>

        <div *ngIf="statType === 'save_pct'">
            <p>Games Played: <span class="stat">{{player.games_played}}</span></p>
            <p>Save Pct: <span class="stat-highlight">{{player.save_pct}} %</span></p>
        </div>

        <div *ngIf="statType === 'shots'">
            <p>Games Played: <span class="stat">{{player.games_played}}</span></p>
            <p>Shots Faced: <span class="stat-highlight">{{player.shots_for}}</span></p>
        </div>

        <div *ngIf="statType === 'shutout'">
            <p>Games Played: <span class="stat">{{player.games_played}}</span></p>
            <p>Shut Outs: <span class="stat-highlight">{{player.shutouts}}</span></p>
        </div>
        
    </mat-card-content>

  </mat-card>

